/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 #about-all {
 background-image: url(http://allswalls.com/images/snowy-mountain-range-wallpaper-1.jpg)
 }

#wiki-index-all {
	background-image: url(https://i.pinimg.com/originals/43/52/fa/4352fadc7fb8bd9cbbb979045b9bce74.jpg);
	background-size: auto; 
}

#wiki-title {
margin-left: 10%; 
font-size: 30px; 
 }

#wiki-body {
margin-left: 10%; 
margin-bottom: 100px; 

 }

#wiki-submit {
margin-left: 10%; 
font-style: italic; 
	
}

 #wiki-box {
 display: inline; 
 margin: 40px; 
 margin-top: 100px; 
 }

#moneybags {
	width: 400px; 
	height: 400px; 
	text-align:center; 
	clear: both; 
	margin: auto; 
	display: block; 
}


 #index-title {
 text-align: center; 
 font-size: 160px; 
 }

 #index-slogan {
 text-align:center; 
 }

 #index-wikis {
 margin-top: 20px; 
 text-align: center; 
 border: 1px dashed black; 
 margin-bottom: 100px; 
 padding: 50px; 
 }

 #index-bloc {
 font-style: italic; 

 }
