<%= form_tag charges_path do %>
   <h4>Upgrade to a premium Plan</h4>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
 <% end %>

 <img id="moneybags" src="http://www.palmbeachdailynews.com/rf/image_lowres/Pub/p8/PalmBeachDailyNews/2017/01/26/Images/newsEngin.17470261_Money-bags.jpg">